body {
	background-image: url("images/IMG_0936.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	position: fixed;
	width: 100%;
	height: 4rem;
    background-color: #bebedc;
    margin: -16px -8px;
}

nav * {
	display: inline-block;
}

.nav-title {
	float: left;
	padding-left: 4rem;
}

.nav-menu {
	float: right;
	padding: 1.3rem;
}

.nav-menu .loggedIn{
	display: none;
}

main {
	padding: 50px 0px;
}

main .container {
	min-height: 250px;
}

.toggle {
	display: none;
}

main ul {
	list-style: none;
	padding-left: 0px;
}

.user ul {
	padding-left: 0px;
	display: inline-block;
	width: 100%;
}

.users-table {
	width: 60%;
	display: inline-block;
}

.users-names ul li {
	margin: 8px 0px;
}

.users-winnerStand {
	float: right;
	width: 30%;
	display: inline-block;
}

.users-names {
	float: left;
	width: 130%;
}

.users-names > * {
	width: 49%;
	display: inline-block;
}

.users-names button {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	margin: 3px 0;
	width: 100%;
}

.user-header p,
.user-table p{
	display: inline-block;
	width: 13%;
}

.user-menu * {
	display: inline-block;
	padding-right: 20px;
	width: 20%;
}

.userDate .userDate-button-delete {
	float: right;
}

.userDate input {
	width: 50px;
}

footer {
	background-color: grey;
	position: fixed;
	bottom: 0px;
	margin: 0 -8px;
	width: 100%;
}

.container {
	width: 60%;
    margin: 10px auto;
    padding: 25px;
    background-color: white;
}

.admin {
	display: none;
}

@media screen and (max-width: 1300px) {

	.user-small-screen {
		display: none !important;
	}

	.user-header p,
	.user-table p {
		width: 30%;
	}
}

@media screen and (max-width: 1150px) {

	.user-menu * {
		display: block;
		width: 100%;
	}
	.admin {
		display: none;
	}

	.user-menu * span {
		display: inline;
	}
}

@media screen and (max-width: 520px) {

	nav {
		height: 7.5rem;
	}
	
	.container {
		margin-top: 54px;
	}

}

@media screen and (max-width: 460px) {
	
	.container {
		width: 260px;
	}
}

@media screen and (max-width: 350px) {
	
	nav {
		width: 320px;
	}
}
